/*style général*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(70, 69, 69);
}
/*transition*/
a,
.bouton {
    transition: all 300ms ease;
}
/*menu*/

ul {
  right: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: fit-content;
    background-color: #edf7e4;
    position: fixed;
    height: 100%;
    overflow: auto;
    align-items: center;
    display: grid;
  }

  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

a{
    color:rgb(57, 98, 57);
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color:rgb(94, 154, 94);
    text-decoration: underline;
    text-underline-offset: 3rem;
    text-decoration-color:rgb(91, 149, 91) ;
}
.logo{
    font-size: 2rem;

}

.logo span:first-child {
    color:rgb(57, 98, 57);
  }

.logo:hover{
   cursor: default; 
}

.menu-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.menu-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-liens{
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out ;
}

.menu-liens a{
    display: block;
    padding: 10px ;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(57, 98, 57);
    text-decoration: none;
    transition:all 0.3 ease-in-out ;
}

.menu-liens li{
      display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.menu-liens.open{
    max-height: 300px;
}

.menu-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}

.menu-icon.open span:nth-child(2){
    opacity: 0;
}
.menu-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

.menu-icon span:first-child{
    transform: none;
}

.menu-icon span:first-child{
    opacity: 1;
}

.menu-icon span:first-child{
    transform: none;
}

/*sections*/
section{
    padding-top: 4vh ;
    height: 96vh;
    margin: 0 10rem;
    box-sizing:border-box ;
    min-height: fit-content;
}

.section-contenu{
    display: flex;
}

/*section profile*/

#profile{
    display: flex;
    justify-content: center;
    gap:5rem;
    height: 80vh;
}
.section_img{
    display: flex;
    height:400px ;
    width: 400px;
    margin: auto 0;
    border-radius: 50%;
    overflow: hidden;
}
.section-texte{
    align-self: center;
    text-align: center;
}

.section-texte .p{
    font-weight: 600;
}

.section-texte-p1{
    text-align: center;
}
.section-texte-p2{
    font-size:1.75rem ;
    margin-bottom:1rem ;
}
.titre{
    font-size: 3rem;
    text-align: center;
    color: rgb(57, 98, 57);
}
#section-contenu{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
/*icon*/

.iconp{
    cursor: pointer;
    height:2rem;
}

.iconp_nav{
  cursor: pointer;
  height:2rem;
}

  /* Style pour aligner l'image au-dessus du texte */
  .icon-text-link {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: black;
  }

    /* Style pour l'image */
    .icon-text-link img {
      display: block;
      margin: 0 auto;
      width: 50px; 
      height: auto;
    }

    /* Style pour le texte */
    .icon-text-link span {
      display: block;
    }

/*bouton*/
.contenu-bouton{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.bouton{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}
.bouton-couleur{
    border: rgb(36, 68, 36) 0.1rem solid;
}

.bouton-couleur:hover{
    cursor: pointer;
    background-color:white;
    color: black;
}

.contenu-bouton{
    gap: 1rem;
}

/*biographie*/
.Biographie-contenu {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  .details-contenu {
    justify-content: center;
    flex-direction: column;
  }
  
  .Biographie-contenu,
  .details-contenu {
    display: flex;
  }

  .details-contenu {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }
  
  .section-contenu {
    gap: 4rem;
    height: 80%;
  }

  /* compétences */
 .comp {
    display: flex; 
    flex-wrap: wrap; 
    margin: 20px auto; 
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 5px; 
  }

  .dom-com {
    margin: 10px; 
    background-color: #f8fbf9; 
    padding: 10px; 
    border-radius: 5px; 
  }

  .dom-header h3 {
    margin: 0; 
    padding: 5px 10px;
    background-color: rgb(180, 203, 180); 
    color:rgb(8, 8, 8); 
    font-weight: bold; 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
  }

  .com-list span {
    display: inline-block; 
    margin: 5px; 
    padding: 5px 10px; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
  }

  /*projets*/
  #projets {
    overflow: auto;
  }
  
  .projet-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
  }
  
  .projet {
    border-radius: 10px;
    position: relative;
    height: 100%;
    border: 1px solid #ddd;
    padding: 20px;
  }
  
  .projet img {
    margin-top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .projet .texte-contenu {
    margin-top: 20px;
  }
  
  .projet-texte {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  
  .projet .bouton-contenu {
    margin-top: 30px;
  }
  /*icon*/
  .icon {
    margin-left: 25px;
    cursor: pointer;
    height: 2rem;
  }
  
  .arrow {
    cursor: pointer;
  }
  
  .arrow:hover {
    transform: scale(1.1);
  }
  /*formations*/
  #formation{
    
    padding: 50px 0;
  }
  .formation-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:40px ;
    margin-top: 50px;
  }
  .formation-list div{
    background: #e6f0e9;
    padding:40px ;
    font-size: 13px;
    font-weight: 300;
    border-radius:10px ;
    transition:0.5s,transform 0.5s ;
  }
  .formation-list div i{
    font-size: 20px;
    margin-bottom:30px ;
  }
  .formation-list div h2{
    font-size: 20px;
    font-weight:500 ;
    margin-bottom: 15px;
  }
  
  .formation-list div p{
    font-size: 15px;
  }
  .formation-list div:hover{
    background-color: rgb(88, 126, 88);
    transform: translateY(-10px);
  }
/*contact*/
#contact{
  display: flex;
  justify-content: center;
  gap:5rem;
  height: 80vh;
  text-align: center;
}
.sup-titre{
    margin-top: 1500px;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(57, 98, 57);
}

  /* Styles pour les icônes */
  .fa-solid {
    margin-right: 10px;
    vertical-align: middle; 
  }

    /* Styles pour le formulaire */
    form {
      margin-top: 20px;
      display: inline-block; 
    }

    form p {
      margin-bottom: 10px; 
    }

    input[type="text"],
    input[type="email"],
    textarea {
      width: calc(100% - 22px);
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box; 
    }

    textarea {
      resize: vertical; 
    }

    button {
      padding: 10px 20px;
      background-color: #476b46;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: #476b46;
    }
    
form input, form textarea{
  width: 100%;
  border: 0;
  outline:none;
  background: #a1bca7;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;

}

.fleche {
  animation: bounce 2s infinite;
}

.icon2 {
  cursor: pointer;
  height: 2rem;
}
.fleche.icon2 {
  margin-left: 5px;
  right: 20px; 
  top: 50%; 
  transform: translateY(-50%); 
}
span.ic{
  margin-left:50px ;
}
.ic {
  margin-top: 20px;
  cursor: pointer;
  height: 2rem;
  
}
.fleche.ic {
  margin-left: 2px;
  right: 20px; 
  top: 50%; 
  transform: translateY(-50%); 
}

.projet_c {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  height: 600px;
  width: 500px;
}
.projet_lex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  height: 600px;
  width: 500px;
}
.projet_lex {
  border-radius: 10px;
  position: relative;
  height: 100%;
  border: 1px solid #ddd;
  padding: 20px;
}
.projet_c {
  border-radius: 10px;
  position: relative;
  height: 100%;
  border: 1px solid #ddd;
  padding: 20px;
}
.projet_arbre{
  margin-top: 10px;
  border-radius: 10px;
  position: relative;
  height: 100%;
  border: 1px solid #ddd;
  padding: 20px;
}
.projet_c img{
  width: 500px;
  height: 500px;
}
.projet_serialization{
  margin-top: 10px;
  border-radius: 10px;
  position: relative;
  height: 100%;
  border: 1px solid #ddd;
  padding: 20px;
}
.projet-bouton{
  margin-top: 5px;
}
.icon{
  margin-left: 0px;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  border: 3px solid #deefe2;
  background-color: #dbf3de;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, rgb(99, 158, 97), rgb(70, 118, 66));
}


/*====================  To customize the sliding buttons ==========================*/


::-webkit-scrollbar-button:single-button {
  background-color: #093208;
  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-radius: 5px 5px 0 0;
  height: 16px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(121, 255, 108)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(6, 222, 225)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-radius: 0px 0px 5px 5px;
  height: 16px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(121, 255, 108)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(6, 222, 225)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
}

/* Left */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
  border-radius: 5px 0px 0 5px;
  height: 12px;
  width: 12px;
  background-position: 3px 3px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(121, 255, 108)'><polygon points='0,50 50,100 50,0'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(6, 222, 225)'><polygon points='0,50 50,100 50,0'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,50 50,100 50,0'/></svg>");
}

/* Right */
::-webkit-scrollbar-button:single-button:horizontal:increment {
  border-radius: 0 5px 5px 0;
  height: 12px;
  width: 12px;
  background-position: 3px 3px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(121, 255, 108)'><polygon points='0,0 0,100 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(6, 222, 225)'><polygon points='0,0 0,100 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 0,100 50,50'/></svg>");
}